django
django-extensions
django-autocomplete-light
django-haystack
djangorestframework
whoosh
markdown
django-filter
iso8601
rdflib
unidecode
six
isodate
pyparsing
SPARQLWrapper
html5lib
slate
pdfminer==20110515
python-magic==0.4.6
BeautifulSoup4==4.3.1
conceptpower-api==1.0