{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load pagination_tags %}
{% load addcss %}
{% load breadcrumbs %}
{% load authorization %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Collections' 'collections' %}
    {% breadcrumb_url collection.name 'collection' collection.id  %}
</div>
{% endblock %}

{% block content %}
{% autopaginate filtered_objects.qs 10 as resources %}

<div class="collection_summary">
    <span class="pull-right btn-group">
        {% is_authorized "change_resource" user collection as can_edit_resource %}
        {% if can_edit_resource %}
        <a class="btn glyphicon glyphicon-pencil" aria-hidden="true"
            href="{% url "collection-edit" collection.id %}"
            data-toggle="tooltip"
            data-title="Edit collection"></a>
        {% endif %}
        {% is_authorized "view_authorizations" user collection as can_view_authorizations %}
        {% if can_view_authorizations %}
        <a class="btn glyphicon glyphicon-lock" aria-hidden="true"
            href="{% url "collection-authorizations" collection.id %}"
            data-toggle="tooltip"
            data-title="Authorizations"></a>
        {% endif %}
        {% if can_edit_resource %}

            <a class="btn glyphicon glyphicon-plus"
                href="{% url "create-collection" %}?parent_collection={{ collection.id }}"></a>

        {% endif %}
    </span>
    <div class="h3 collection_name">{{ collection.name }}</div>

      <div class="h4">{% if collection.part_of %}Part of: <a class="text-info" href="{{ collection.part_of.get_absolute_url }}">{{ collection.part_of.name }}</a>{% endif %}</div>
      {% if collection.description %}
      <p class="text-muted">{{ collection.description }}</p>
          {% endif %}


    <div class="container-fluid">
        {% if collections %}
            Subcollections:
        {% endif %}
        <ul class="list-group list-group-compact">
        {% for collection_element in collections %}
            <a class="list-group-item list-group-item-compact" href="{{ collection_element.get_absolute_url }}">{{ collection_element.name }}
                <span class="pull-right badge">{{ collection_element.resourcecontainer_set.count }}</span>
            </a>
        {% endfor %}

        </ul>


    </div>
</div>

<div class="row">

    <div class="col-xs-4 text-center">
        {% paginate %}
    </div>
</div>

<form class="form" action="." method="GET">
{% with filtered_objects.form.name as field %}
{% for error in field.errors %}
<div class="alert alert-warning">{{ error }}</div>
{% endfor %}
<div class="container-fluid">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" id="id_name" name="name" type="text" {% if q %}value="{{ q }}" {% endif %}placeholder="Search by title">
            <span class="input-group-btn">
                <input type="submit" class="btn btn-success" value="Search">
            </span>
        </div>
        <script>
        $('body').ready(function() {
            $('#id_name').focus();
        });
        </script>
    </div>



{% endwith %}
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <span class="glyphicon glyphicon-filter"></span>
                <a data-toggle="collapse" class="accordion-toggle collapsed" href="#filters">Filters</a>
                <small style="margin-left: 20px;">
                    {% for key, values in filtered_objects.data.iteritems %}
                    {% if values|length > 0 %}
                    <strong>{{ key }}</strong>: {{ values }}
                    {% endif %}
                    {% endfor %}
                </small>
            </h4>
        </div>

        <div id="filters" class="panel-collapse collapse">
            <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-6">

                            {% with filtered_objects.form.content as field %}
                            {% for error in field.errors %}
                            <div class="alert alert-warning">{{ error }}</div>
                            {% endfor %}
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                {{ field|addcss:"form-control" }}
                            </div>
                            {% endwith %}

                            {% with filtered_objects.form.entity_type as field %}
                            {% for error in field.errors %}
                            <div class="alert alert-warning">{{ error }}</div>
                            {% endfor %}
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                {{ field|addcss:"form-control" }}
                            </div>
                            {% endwith %}
                        </div>
                        <div class="col-xs-6">
                            {% with filtered_objects.form.created_by as field %}
                            {% for error in field.errors %}
                            <div class="alert alert-warning">{{ error }}</div>
                            {% endfor %}
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                {{ field|addcss:"form-control" }}
                            </div>
                            {% endwith %}

                            {% with filtered_objects.form.o as field %}
                            {% for error in field.errors %}
                            <div class="alert alert-warning">{{ error }}</div>
                            {% endfor %}
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                {{ field|addcss:"form-control" }}
                            </div>
                            {% endwith %}
                        </div>
                    </div>
                <input type="submit" class="pull-right btn btn-success btn-xs" value="Apply">

            </div>
        </div>

    </div>
</div>
</div>
</form>

<div class="row">
    <div class="col-sm-3">
        {% include "fragment_tag_panel.html" %}
    </div>
    <div class="col-sm-9">
        {% include "fragment_resource_list.html" %}
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-4 col-xs-4 text-center">
        {% paginate %}
    </div>
</div>

{% if collection.relations_from.count > 0 %}
<h3>Metadata</h2>
<div class="collection_relations">
    <dl class="dl-horizontal">
        {% for relation in collection.relations_from.all %}
        <dt class="predicate"
            id="predicate_{{ relation.predicate.id }}"
            uri="{{ relation.predicate.uri }}">
            {{ relation.predicate.name }}
        </dt>
        <dd class="target"
            id="target_{{ relation.target.id }}"
            uri="{{ relation.target.uri }}">
            {{ relation.target.name }}
        </dd>
        {% endfor %}
    </dl>
</div>
{% endif %}


{% endblock %}
