{% extends "base_site.html" %}
{% load i18n %}
{% load staticfiles %}

{% load breadcrumbs %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Collections' 'collections' %}
</div>
{% endblock %}

{% block content %}
<h2>Collections</h2>

<div class="resource_collections">
    <ul class="list-group">
        {% for collection in collections %}
        <a href="{{ collection.get_absolute_url }}"
            class="list-group-item">{{ collection.name }}
        </a>
        {% endfor %}
    </ul>
</div>

{% endblock %}
