{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load pagination_tags %}
{% load addcss %}
{% load breadcrumbs %}
{% load authorization %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Collections' 'collections' %}
    {% breadcrumb_url collection.name 'collection' collection.id  %}
</div>
{% endblock %}

{% block content %}
{% autopaginate filtered_objects.qs 10 as resources %}
<div class="collection_summary">
    <span class="pull-right btn-group">
        {% is_authorized "change_resource" user collection as can_edit_resource %}
        {% if can_edit_resource %}
        <a class="btn glyphicon glyphicon-pencil" aria-hidden="true"
            href=""
            data-toggle="tooltip"
            data-title="Edit collection"></a>
        {% endif %}
        {% is_authorized "view_authorizations" user collection as can_view_authorizations %}
        {% if can_view_authorizations %}
        <a class="btn glyphicon glyphicon-lock" aria-hidden="true"
            href="{% url "collection-authorization-list" collection.id %}"
            data-toggle="tooltip"
            data-title="Authorizations"></a>
        {% endif %}
    </span>
    <h2 class="collection_name">{{ collection.name }}</h1>
    <div class="collection_uri"><strong>URI:</strong> {{ collection.uri }}</div>
    {% if collection.part_of %}
      Sub-collection of: <a class="text-info" href="{{ collection.part_of.get_absolute_url }}">{{ collection.part_of.name }}</div>
    {% endif %}
</div>

<div class="row">
    <div class="h3 col-xs-4">Resources</div>
    <div class="col-xs-4 text-center">
        {% paginate %}
    </div>
</div>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <span class="glyphicon glyphicon-filter"></span>
                <a data-toggle="collapse" class="accordion-toggle collapsed" href="#filters">Filters</a>
                <small style="margin-left: 20px;">
                    {% for key, values in filtered_objects.data.iteritems %}
                    {% if values|length > 0 %}
                    <strong>{{ key }}</strong>: {{ values }}
                    {% endif %}
                    {% endfor %}
                </small>
            </h4>
        </div>
        <div id="filters" class="panel-collapse collapse">
            <div class="panel-body">
                <form class="form" action="." method="GET">
                {% for field in filtered_objects.form %}
                    {% for error in field.errors %}
                    <div class="alert alert-warning">{{ error }}</div>
                    {% endfor %}
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        {{ field|addcss:"form-control" }}
                    </div>

                {% endfor %}
                <input type="submit" class="pull-right btn btn-success" value="Apply">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="collection_resources">
    <ul class="list-group">
        {% for resource in resources %}
        <a class="resource-name list-group-item clearfix" href="{{ resource.get_absolute_url }}">{{ resource.name }}

            <span class="pull-right btn-group">
                {% if resource.has_local_content %}
                <span class="btn-xs">
                    <i class="fa fa-database"></i>
                </span>
                {% endif %}
                {% if resource.has_giles_content %}
                <span class="btn-xs">
                    <img style="height: 12px;" src="{% static "cookies/img/giles_logo.png" %}" />
                </span>
                {% endif %}
            </span>

        </a>
        {% endfor %}
    </ul>
</div>

<div class="row">
    <div class="col-xs-offset-4 col-xs-4 text-center">
        {% paginate %}
    </div>
</div>

{% if collection.relations_from.count > 0 %}
<h3>Metadata</h2>
<div class="collection_relations">
    <dl class="dl-horizontal">
        {% for relation in collection.relations_from.all %}
        <dt class="predicate"
            id="predicate_{{ relation.predicate.id }}"
            uri="{{ relation.predicate.uri }}">
            {{ relation.predicate.name }}
        </dt>
        <dd class="target"
            id="target_{{ relation.target.id }}"
            uri="{{ relation.target.uri }}">
            {{ relation.target.name }}
        </dd>
        {% endfor %}
    </dl>
</div>
{% endif %}

<div class="text-center">
    <a class="btn btn-success" href="{% url "create-collection" %}?parent_collection={{ collection.id }}">Create a sub collection</a>
</div>

{% endblock %}
