{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load breadcrumbs %}
{% load pagination_tags %}
{% load addcss %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Collections' 'collections' %}
    {% breadcrumb_url collection.name 'collection' collection.id  %}
    {% breadcrumb_url 'Authorizations' 'collection-authorization-list' collection.id  %}
</div>
{% endblock %}

{% block content %}
<span class="h3 text-warning">{{ collection.name }}</span>
<div class="h2">Authorizations</div>
<p class="text-info">
    Select a user to authorize.
</p>
<div class="">
    <ul class="list-group">
        {% for user in unauthorized_users %}
        <a class="list-group-item" href="{% url "collection-authorization-change" collection.id user.id %}">{{ user.username }}</a>
        {% endfor %}
    </ul>
</div>



{% endblock %}
