{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load breadcrumbs %}
{% load pagination_tags %}
{% load addcss %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Collections' 'collections' %}
    {% breadcrumb_url collection.name 'collection' collection.id  %}
    {% breadcrumb_url 'Authorizations' 'collection-authorization-list' collection.id  %}
</div>
{% endblock %}

{% block content %}
<span class="h3 text-warning">{{ collection }}</span>
<div class="h2">Authorizations</div>

<p>
    <a href="{% url "collection-authorization-create" collection.id %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add user</a>
</p>


<div class="">
    <ul class="list-group">
        {% for auth_user, auths in authorizations %}
        <a class="list-group-item" href="{% url "collection-authorization-change" collection.id auth_user.id %}">
            <strong>{{ auth_user.username }}</strong> {% for auth in auths %}<span class="text-muted">{{ auth }}</span>, {% endfor %}
        </a>
        {% endfor %}
    </ul>
</div>



{% endblock %}
