{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load breadcrumbs %}
{% load pagination_tags %}
{% load addcss %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Collections' 'collections' %}
    {% breadcrumb_url collection.name 'collection' collection.id  %}
    {% breadcrumb_url 'Authorizations' 'collection-authorizations' collection.id  %}
</div>
{% endblock %}

{% block content %}
<span class="h3 text-warning">New authorization policy for collection: <span class="text-primary">{{ collection.name }}</span></span>

<form class="form" action="." method="POST">
    {% csrf_token %}

    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    {% for field in form.visible_fields %}

    {% if field.label == 'Heritable' %}
    <div class="form-group">
        <div class="checkbox">
            <span class="glyphicon glyphicon-globe"></span> 
            <label>{{ field }} Heritable</label>
            <p class="text-muted">{{ field.help_text }}</p>
        </div>
    </div>
    {% else %}
    <div class="form-group">
        {% for error in field.errors %}
        <div class="alert alert-warning">{{ error }}</div>
        {% endfor %}
        <label>{{ field.label }}</label>
        {{ field|addcss:"form-control" }}
        <p class="text-muted">{{ field.help_text }}</p>
    </div>
    {% endif %}

    {% endfor %}
    <input type="submit" value="Submit" class="btn btn-md btn-success" />
</form>

{% endblock %}
