{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load addcss %}

{% load breadcrumbs %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Resources' 'resources' %}
    {% breadcrumb_url 'Remote' 'create-resource-url' %}
</div>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "cookies/css/select2.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "cookies/css/select2-bootstrap.css" %}" />
{% endblock %}

{% block extrahead %}
    <script src="{% static "cookies/js/select2.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#id_resource_type").select2({
                 theme: "bootstrap"
            });
        })
    </script>
{% endblock %}

{% block content %}
{% if content_resource %}

<div class="alert alert-success">
    Creating a new resource for <strong>{{ content_resource }}</strong>.
</div>

{% endif %}

<form class="form" action="." method="POST">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-warning">{{ error }}</div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-6">
            {% with form.name as field %}
            <div class="form-group">
                {% for error in field.errors %}
                <div class="alert alert-warning">{{ error }}</div>
                {% endfor %}
                <label>{{ field.label }}</label>
                {{ field|addcss:"form-control" }}
                <p class="text-muted">{{ field.help_text }}</p>
            </div>
            {% endwith %}
        </div>
        <div class="col-sm-6">
            {% with form.resource_type as field %}
            <div class="form-group">
                {% for error in field.errors %}
                <div class="alert alert-warning">{{ error }}</div>
                {% endfor %}
                <label>{{ field.label }}</label>
                {{ field|addcss:"form-control" }}
                <p class="text-muted">{{ field.help_text }}</p>
            </div>
            {% endwith %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {% with form.collection as field %}
            <div class="form-group">
                {% for error in field.errors %}
                <div class="alert alert-warning">{{ error }}</div>
                {% endfor %}
                <label>{{ field.label }}</label>
                {{ field|addcss:"form-control" }}
                <p class="text-muted">{{ field.help_text }}</p>
            </div>
            {% endwith %}
        </div>
        <div class="col-sm-6">
            {% with form.uri as field %}
            <div class="form-group">
                {% for error in field.errors %}
                <div class="alert alert-warning">{{ error }}</div>
                {% endfor %}
                <label>{{ field.label }}</label>
                {{ field|addcss:"form-control" }}
                <p class="text-muted">{{ field.help_text }}</p>
            </div>
            {% endwith %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% with form.description as field %}
            <div class="form-group">
                {% for error in field.errors %}
                <div class="alert alert-warning">{{ error }}</div>
                {% endfor %}
                <label>{{ field.label }}</label>
                {{ field|addcss:"form-control" }}
                <p class="text-muted">{{ field.help_text }}</p>
            </div>
            {% endwith %}
        </div>


    </div>
    <div class="row">
        <div class="col-sm-12">
            {% with form.public as field %}
            <div class="form-group">
                {% for error in field.errors %}
                <div class="alert alert-warning">{{ error }}</div>
                {% endfor %}
                <label>{{ field.label }}</label>
                {{ field|addcss:"form-control" }}
                <p class="text-muted">{{ field.help_text }}</p>
            </div>
            {% endwith %}
        </div>


    </div>

    <div class="text-right">
        <input class="btn btn-success" type="submit" value="Create">
    </div>
</form>
{% endblock %}
