{% extends "base.html" %}
{% load i18n %}
{% load addcss %}
{% load preview %}
{% load static %}

{% load breadcrumbs %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Resources' 'resources' %}
    {% breadcrumb_url resource.name 'resource' resource.id  %}
    {% breadcrumb_url 'Edit' 'edit-resource-details' resource.id  %}
    <span class="breadcrumbs-arrow">›&nbsp;</span> Create metadatum
</div>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "cookies/css/select2.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "cookies/css/select2-bootstrap.css" %}" />
{% endblock %}

{% block extrahead %}
    <script src="{% static "cookies/js/select2.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#id_predicate").select2({
                 theme: "bootstrap"
            });
        })
    </script>
{% endblock %}

{% block content %}
<form class="form" action="{% if next %}?next={{ next }}{% else %}.{% endif %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-warning">{{ error }}</div>
    {% endfor %}
    <div class="form-group">
        <label>{{ field.label }}</label>
        {{ field|addcss:"form-control" }}
    </div>
    {% endfor %}

    <div class="text-center">
        <input class="btn btn-success" type="submit" value="Next">
    </div>
</form>
{% endblock %}
