{% extends "base.html" %}
{% load addcss %}
{% load staticfiles %}

{% block content %}
<div class="row" style="margin-top: 50px;">
    <div class="col-sm-4 text-center">
        <a class="btn btn-lg" href="{% url "create-resource-choose-giles" %}">
            <span class="glyphicon glyphicon-picture"></span> Upload an image
        </a>
        <p class="text-muted">
            Upload an image to our linked image server, <strong>Giles</strong>.
            You'll be able to take advantage of image-specific research
            functionality, like image annotation in VogonWeb.
        </p>
    </div>
    <div class="col-sm-4 text-center">
        <a class="btn btn-lg" href="{% url "create-resource-file" %}">
            <span class="glyphicon glyphicon-open-file"></span> Upload a file
        </a>
        <p class="text-muted">
            Most mainstream file formats are supported. For large files, be sure
            that you have a reliable connection to the internet.
        </p>
    </div>
    <div class="col-sm-4 text-center">
        <a class="btn btn-lg" href="{% url "create-resource-url" %}">
            <span class="glyphicon glyphicon-link"></span> Add a remote resource
        </a>
        <p class="text-muted">
            Add a resource that's already online! Just enter the URL, and you'll
            be able to add descriptive metadata and incorporate it into your collections.
        </p>
    </div>
</div>
<div class="row" style="margin-top: 50px;">
    <div class="col-sm-4 col-sm-offset-2 text-center">
        <a class="btn btn-lg" href="{% url "create-resource-bulk" %}">
            <img class="img" src="{% static "cookies/img/zotero_z.png" %}" style="height: 20px;"></img>&nbsp;
            Upload from Zotero
        </a>
        <p class="text-muted">
            JARS supports the Zotero RDF format. Export your collection (including files)
            to Zotero RDF.
        </p>
    </div>
    <div class="col-sm-4  text-center">
        <a class="btn btn-lg" href="{% url "create-resource-choose-giles" %}">
            <img class="img" src="{% static "cookies/img/zotero_z.png" %}" style="height: 20px;"></img>&nbsp;
            Upload from Zotero: images
        </a>
        <p class="text-muted">
            If you wish to take advantage of our image server, upload your Zotero collection
            via Giles (recommended).
        </p>
    </div>
</div>
{% endblock %}
