{% extends "base.html" %}
{% load addcss %}
{% load i18n %}
{% load staticfiles %}

{% load breadcrumbs %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Resources' 'resources' %}
    {% breadcrumb_url 'Create' 'create-resource' %}
</div>
{% endblock %}

{% block content %}
<div class="row" style="margin-top: 20px;">

    <div class="col-sm-4 text-center">
        <a class="btn btn-lg" href="{% url "create-resource-file" %}{% if collection %}?collection={{collection}}{% endif %}">
            <span class="glyphicon glyphicon-open-file"></span> Upload file
        </a>
        <p class="text-muted">
            Most mainstream file formats are supported. For large files, be sure
            that you have a reliable connection to the internet.
        </p>
    </div>
    <div class="col-sm-4 text-center">
        <a class="btn btn-lg" href="{% url "create-resource-bulk" %}{% if collection %}?collection={{collection}}{% endif %}">
            <img class="img" src="{% static "cookies/img/zotero_z.png" %}" style="height: 20px;"></img>&nbsp;
            Upload from Zotero
        </a>
        <p class="text-muted">
            JARS supports the Zotero RDF format. Export your collection (including files)
            to Zotero RDF.
        </p>
    </div>
    <div class="col-sm-4 text-center">
        <a class="btn btn-lg" href="{% url "create-resource-url" %}{% if collection %}?collection={{collection}}{% endif %}">
            <span class="glyphicon glyphicon-link"></span> Add a remote resource
        </a>
        <p class="text-muted">
            Add a resource that's already online! Just enter the URL, and you'll
            be able to add descriptive metadata and incorporate it into your collections.
        </p>
    </div>
</div>
{% endblock %}
