{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load pagination_tags %}
{% load addcss %}
{% load breadcrumbs %}
{% load authorization %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">
            {{ uploads_pending }}
        </div>
        <div class="col-xs-3">
            {{ uploads_enqueued }}
        </div>
        <div class="col-xs-3">
            {{ uploads_sent }}
        </div>
        <div class="col-xs-3">
            {{ uploads_done }}
        </div>
    </div>
</div>

{% endblock %}
