{% extends "base.html" %}
{% load i18n %}
{% load addcss %}
{% load preview %}

{% load breadcrumbs %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Resources' 'resources' %}
    {% breadcrumb_url resource.name 'resource' resource.id  %}
    {% breadcrumb_url 'Edit' 'edit-resource-details' resource.id  %}
</div>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-6">
        <span class="pull-right">
            <a class="btn fa fa-eye" aria-hidden="true"
                href="{% url "resource" resource.id %}"
                data-toggle="tooltip"
                data-title="View record"></a>
        </span>
        <ul class="nav nav-tabs nav-left" role="tablist">
            <li role="presentation" class="{% if tab == 'details' %}active{% endif %}">
                <a href="#details" aria-controls="fields" role="tab" data-toggle="tab">Details</a>
            </li>
            <li role="presentation" class="{% if tab == 'metadata' %}active{% endif %}">
                <a href="#metadata" aria-controls="fields" role="tab" data-toggle="tab">Metadata</a>
            </li>
        </ul>

        <form class="form" action="{% if next %}?next={{ next }}{% else %}.{% endif %}" method="POST">
            {% csrf_token %}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane {% if tab == 'details' %}active{% endif %} panel-body" id="details">

                        {% for error in form.non_field_errors %}
                        <div class="alert alert-warning">{{ error }}</div>
                        {% endfor %}
                        {% for field in form %}
                        <div class="form-group">
                            {% for error in field.errors %}
                            <div class="alert alert-warning">{{ error }}</div>
                            {% endfor %}
                            <label>{{ field.label }}</label>
                            {{ field|addcss:"form-control" }}
                            <p class="text-muted">{{ field.help_text }}</p>
                        </div>

                        {% endfor %}

                        <div class="text-center">
                            <input class="btn btn-success" type="submit" value="Save">
                        </div>

                </div>
                <div role="tabpanel" class="tab-pane {% if tab == 'metadata' %}active{% endif %} panel-body" id="metadata">
                    <ul class="list-group">
                        <a class="list-group-item"
                            href="{% url "create-resource-metadatum" resource.id %}">
                            <i class="fa fa-plus"></i> Create a new relation
                        </a>
                        {% for metadatum in metadata %}
                        <li class="list-group-item">
                            <span class="btn-group pull-right">
                                <a class="btn btn-md"
                                    href="{% url "edit-resource-metadatum" resource.id metadatum.id %}?next={{ request.path }}&tab=metadata">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a class="btn btn-md"
                                    href="{% url "delete-resource-metadatum" resource.id metadatum.id %}">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>

                            </span>
                            <span class="label label-primary">{{ metadatum.predicate }}</span>

                            {{ metadatum.target.name }}

                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </form>


    </div>
    <div class="col-xs-6">
        {{ resource|preview:request }}
    </div>
</div>
{% endblock %}
