{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load breadcrumbs %}
{% load addcss %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Entities' 'entity-list' %}
    {% breadcrumb_url entity.name 'entity-details' entity.id %}
    {% breadcrumb_url 'Concept' 'entity-change-concept' entity.id %}
</div>
{% endblock %}

{% block content %}
<p class="text-info">
    Entities records represent references to specific concepts in metadata.
    For example, they represent references to authors, journals, publishers,
    or locations.
</p>

<div class="list-group">
    {% for concept in associated_concepts %}
    <div class="list-group-item">
        {{ concept.label }} <span class="label label-primary">{{ concept.authority }}</span> {{ concept.uri|urlizetrunc:50 }}
        <span class="btn-group pull-right">
            <a class="btn btn-xs btn-error" href="{% url "entity-remove-concept" entity.id %}?uri={{ concept.uri }}&q={{ q }}"><span class="glyphicon glyphicon-remove"></span></a>
        </span>
    </div>
    {% endfor %}
</div>
<script>
var bindAutocomplete = function(selector) {

    $(function() {
        function split( val ) {
            return val.split( /,\s*/ );
        }
        function extractLast( term ) {
            return split( term ).pop();
        }

        $(selector)
            // don't navigate away from the field on tab when selecting an item
            .bind( "keydown", function( event ) {
                if ( event.keyCode === $.ui.keyCode.TAB &&
                    $( this ).autocomplete( "instance" ).menu.active ) {
                        event.preventDefault();
                    }
                })
                .autocomplete({
                    source: function( request, response ) {
                        $.getJSON("/rest/concept", {
                            format: 'json',
                            search: extractLast( request.term ),
                            pos: 'noun',
                            remote: true,
                        }, function(data){

                            response(data.results);
                        } );
                    },
                    search: function() {
                        // custom minLength
                        var term = extractLast( this.value );
                        if ( term.length < 3 ) {
                            return false;
                        }
                    },
                    focus: function() {
                        return false;
                    },
                    select: function( event, ui ) {
                        this.value = ui.item.value;
                        $(this).attr('concept_id', ui.item.id);
                        var target = $(this).attr('target');
                        if (target) {
                            $('#' + target).val(ui.item.uri);
                        }
                        return false;
                    }
                })
                .autocomplete( "instance" )._renderItem = function( ul, item ) {
                    ul.addClass('list-group');
                    return $( "<a class='list-group-item' style='cursor: pointer;'>" )
                        .append( "" + item.label + "<br><span class='text-muted'>" + item.description + "</span>" )
                        .appendTo( ul );
                };
            });
}

</script>
<form class="form" method="GET" action=".">

        {% for error in form.non_field_errors %}
        <div class="alert alert-warning">{{ error }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-12">
              {% with form.q as field %}
              <div class="form-group">
                {% for error in field.errors %}
                <div class="alert alert-warning">{{ error }}</div>
                {% endfor %}
                <label>{{ field.label }}</label>
                <div class="input-group">
                    {{ field|addcss:"form-control" }}
                    <span class="input-group-btn">
                        <input class="btn btn-success" type="submit" value="Search"></input>
                    </span>
                </div>
                <p class="text-muted">{{ field.help_text }}</p>
              </div>
              {% endwith %}
            </div>
        </div>
        <div class="text-center">

        </div>
        {% if concepts_data %}
        Search results:
        <table class="table table-responsive">

            <thead>
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Source</th>
                    <th>URI</th>
                  </tr>
              </thead>
              <tbody>

                  {% for concept in concepts_data %}
                  <tr>
                      <td><a class="btn btn-xs btn-success" href="{% url "entity-add-concept" entity.id %}?uri={{ concept.uri }}&q={{ q }}"><span class="glyphicon glyphicon-link"></span></a></td>
                    <td>{{ concept.name }}</td>
                    <td>{{ concept.source }}</td>
                    <td><a href="{{ concept.uri }}">{{ concept.uri }}</a></td>
                  </tr>
                  {% endfor %}
              </tbody>
      </table>
      {% endif %}
</form>




{% endblock %}
