{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load breadcrumbs %}
{% load addcss %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Entities' 'entity-list' %}
</div>
{% endblock %}

{% block content %}
<div class="h2">Are you sure?</div>
<p class="text-info">
    You are about to merge the following entities. This action cannot be
    undone! Clicking on an entity will open the detail view for that entity
    in a new tab or window.
</p>
<form class="form" action="{% url "entity-merge" %}" method="GET">
    <ul class="list-group">
        {% for entity in entities %}
        <li class="list-group-item">
            <input type="radio" name="master" value="{{ entity.id }}">
            <a href="{{ entity.get_absolute_url }}" target="_blank">{{ entity.name.title }}</a>
            <span class="text-muted">a {{ entity.entity_type.schema }}/{{ entity.entity_type.name }}</span>
            <span class="pull-right">{{ entity.relations_from.count }}/{{ entity.relations_to.count }}</span>
            <input type="hidden" name="entity" value="{{ entity.id }}" />
        </li>
        {% endfor %}
    </ul>
    <input type="hidden" name="confirm" value="true" />
    <input type="submit"
        class="btn btn-success">
        Merge
    </a>
</form>




{% endblock %}
