{% load staticfiles %}

<form class="form" action="{%url "bulk-action-resource" %}" method="POST">
  {% csrf_token %}
  <div>
    <input type="submit" class="btn btn-primary" value="Add Tag">
  </div>
  <div class="collection_resources">
    <ul class="list-group">
      {% for resource in resources %}
      <a class="list-group-item"
          href="{{ resource.get_absolute_url }}">
          {% if user.is_authenticated %}<input type="checkbox" name="addresources" value={{resource.id}}>{% endif %}
          {{ resource.name }} <span class="text-primary">{{ resource.entity_type }}</span>
          <span class="pull-right">Updated: {{ resource.updated.date }}</span>
          <div>
              <span class="text-muted">Added by <span class="text-warning">{{ resource.created_by }}</span> on {{ resource.created }}</span>
              <span class="pull-right btn-group">
                  {% if resource.has_local_content %}
                  <span class="btn-xs">
                      <i class="fa fa-database"></i>
                  </span>
                  {% endif %}
                  {% if resource.has_giles_content %}
                  <span class="btn-xs">
                      <img style="height: 12px;" src="{% static "cookies/img/giles_logo.png" %}" />
                  </span>
                  {% endif %}
              </span>
          </div>
          <div class="clearfix">
              {% for resource_tag in resource.tags.all %}
              <span class="label label-success" style="margin-right: 5px;">
                  <span class="fa fa-tag"></span> {{ resource_tag.tag.name}}
              </span>
              {% endfor %}
              <span class="text-warning pull-right">{{ resource.belongs_to.name }}</span>
          </div>

      </a>
      {% endfor %}
    </ul>

    </div>
</form>
