{% load staticfiles %}
{% load pagination_tags %}
{% load authorization %}

<form class="form" action="{% url "bulk-action-resource" %}" method="POST">
  {% csrf_token %}
  {% if collection %}<input type="hidden" name="next" value="{{ collection.get_absolute_url }}" />{% endif %}
  <div style="margin-bottom: 10px;" class="clearfix">
      <div class="pull-right btn-group">
      {% if collection %}
          {% is_authorized "AD" user collection as can_add_resource %}
              {% if can_add_resource %}
              <a class="btn btn-xs"
                  href="{% url "create-resource" %}?collection={{ collection.id }}">
                  <span class="glyphicon glyphicon-plus"></span> Upload
              </a>
              {% endif %}
      {% else %}
          {% if user.is_authenticated %}
             <a class="btn btn-xs"
                 href="{% url "create-resource" %}">
                 <span class="glyphicon glyphicon-plus"></span> Upload
             </a>
          {% endif %}
      {% endif %}
          {% if filter_parameters and user.is_authenticated %}
          <a class="btn btn-xs"
             href="{% url "create-dataset" %}?filter_parameters={{ filter_parameters }}">
              <span class="glyphicon glyphicon-hdd"></span> Create Dataset
          </a>
          {% endif %}
      </div>

        {% if user.is_authenticated %}
        <div class="btn-group">
            <input type="submit" name="action" class="btn btn-primary btn-xs selection-required" value="Add tag" disabled="disabled">
            <input type="submit" name="action" class="btn btn-primary btn-xs selection-required" value="Merge" disabled="disabled">
            <script>
            $('body').ready(function() {
                $('[name="addresources"]').change(function(e) {
                    var anyChecked = false;
                    $('[name="addresources"]').each(function(i, elem) {
                        if ($(elem).prop('checked')) anyChecked = true;
                    });
                    if (anyChecked) {
                        $('.selection-required').removeAttr('disabled');
                    } else {
                        $('.selection-required').attr('disabled', 'disabled');
                    }
                });
            });
            </script>
        <!-- <a class="btn btn-success btn-xs" href="{% url "resource-merge" %}?{% for resource in resources %}resource={{resource.id}}&{% endfor %}">Merge</a> -->
        </div>
        {% endif %}

  </div>
  <div class="text-center clearfix">
      {% if resource_count %}
      <span class="pull-right text-muted">{{ resource_count }} total resources</span>
      {% endif %}
      {% paginate %}
  </div>
  <div class="collection_resources">
    <ul class="list-group">
      {% for resource in resources %}
      <div class="list-group-item resource-item" id="resource-{{ resource.primary.id }}">
          {% if user.is_authenticated %}<input type="checkbox" name="addresources" id="select-{{ resource.primary.id }}" value={{resource.primary.id}}>{% endif %}
          <a href="{{ resource.primary.get_absolute_url }}">{{ resource.primary.name }}</a> <span class="text-muted">{{ resource.primary.entity_type }}</span>
          <div>
              <span class="text-muted">Added by <span class="text-warning">{{ resource.primary.created_by }}</span> on {{ resource.primary.created }} Last updated on {{ resource.primary.updated }}</span>
              <span class="pull-right btn-group">
                  {% if resource.primary.has_local_content %}
                  <span class="btn-xs">
                      <i class="fa fa-database"></i>
                  </span>
                  {% endif %}
                  {% if resource.primary.has_giles_content %}
                  <span class="btn-xs">
                      <img style="height: 12px;" src="{% static "cookies/img/giles_logo.png" %}" />
                  </span>
                  {% endif %}
              </span>

          </div>
          <div class="clearfix">
              {% for resource_tag in resource.primary.tags.all %}
              <span class="label label-success" style="margin-right: 5px;">
                  <span class="fa fa-tag"></span> {{ resource_tag.tag.name}}
              </span>
              {% endfor %}
              <span class="text-warning pull-right">{{ resource.belongs_to.name }}</span>
          </div>

      </div>
      {% endfor %}
    </ul>


    </div>
    <div class="text-center">
        {% paginate %}
    </div>
</form>
