{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load pagination_tags %}
{% load addcss %}
{% load breadcrumbs %}
{% load authorization %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Dashboard' 'dashboard' %}
    {% breadcrumb_url 'Giles Log' 'giles-log' %}
</div>
{% endblock %}

{% block extrastyle %}
<style>
    .dropdown-menu>li>button:focus, .dropdown-menu>li>button:hover {
        color: #262626;
        background-color: #f5f5f5;
    }
    .dropdown-menu>li>button {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        text-align: left;
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
{% autopaginate filtered_objects.qs 40 as uploads %}


<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-filter"></span>
                    <a data-toggle="collapse"
                        class="accordion-toggle collapsed"
                        href="#filters">Filters
                    </a>
                    <small style="margin-left: 20px;">
                        {% for key, values in filtered_objects.data.iteritems %}
                        {% if values|length > 0 %}
                        <strong>{{ key }}</strong>: {{ values }}
                        {% endif %}
                        {% endfor %}
                    </small>
                </h4>
            </div>
            <div id="filters" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="form" action="." method="GET">
                    {% for field in filtered_objects.form %}
                        {% for error in field.errors %}
                        <div class="alert alert-warning">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field|addcss:"form-control" }}
                        </div>
                    {% endfor %}
                    <input type="submit" class="pull-right btn btn-success" value="Apply">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        {% paginate %}
    </div>
    {% if reuploads_skipped > 0 %}
        <div class="alert alert-warning" role="alert">
            {% if reuploads_success %}
                Reuploaded {{ reuploads_success }} document(s).
            {% endif %}
            {{ reuploads_skipped }} document(s) skipped.
        </div>
    {% elif reuploads_success > 0 %}
        <div class="alert alert-success" role="alert">Reuploaded {{reuploads_success}} document(s).</div>
    {% endif %}

    {% if priority_change_skipped > 0 %}
        <div class="alert alert-warning" role="alert">
            {% if priority_change_success %}
                Re-prioritized {{ priority_change_success }} document(s).
            {% endif %}
            {{ priority_change_skipped }} document(s) skipped.
        </div>
    {% elif priority_change_success > 0 %}
        <div class="alert alert-success" role="alert">Re-prioritized {{priority_change_success}} document(s).</div>
    {% endif %}

    {% if uploads %}
        <form method="POST">
            {% csrf_token %}
            {% if upload_enabled %}
                <button type="submit" class="btn btn-primary btn-xs" name="upload_type" value="selected" title="Reupload selected documents">Reupload Selected</button>
                <button type="submit" class="btn btn-warning btn-xs" name="upload_type" value="all" title="Reupload all {{ filtered_objects.qs.count }} document(s) matching current filters">Reupload All</button>
            {% endif %}
            {% if priority_changeable %}
                <div class="btn-group">
                    <button title="Change priority of selected documents" type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Change Priority <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><button type="submit" name="priority" value="high" class="btn btn-xs">High</button></li>
                        <li><button type="submit" name="priority" value="medium" class="btn btn-xs">Medium</button></li>
                        <li><button type="submit" name="priority" value="low" class="btn btn-xs">Low</button></li>
                    </ul>
                </div>
            {% endif %}

        <table class="table table-compact table-responsive">
            <thead>
                {% if upload_enabled or priority_changeable %}<th><input id="form_select_all" type="checkbox"></th>{% endif %}
                <th>Progress ID</th>
                <th>Resource</th>
                <th>State</th>
                <th>Priority</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Message</th>
            </thead>
            <tbody>
                {% for upload in uploads %}
                <tr>
                    {% if upload_enabled or priority_changeable %}<td><input type="checkbox" name="resources" value="{{ upload.id }}"/></td>{% endif %}
                    <td><a class="btn btn-xs btn-xxs glyphicon glyphicon-eye-open" style="margin-right: 5px;" href="{% url "giles-log-item" upload.id %}"></a>{{ upload.upload_id }}</td>
                    <td>
                        <a href="{{ upload.resource.container.primary.get_absolute_url }}">{{ upload.resource.container.primary.name }}</a>
                    </td>
                    <td><span class="label {% if upload.state in upload.ERROR_STATES %}label-danger{% elif upload.state == upload.DONE %}label-success{% elif upload.state == upload.SENT %}label-warning{% else %}label-primary{% endif %}">{{ upload.get_state_display }}</span></td>
                    <td>{{ upload.priority_label }}</td>
                    <td>{{ upload.created }}</td>
                    <td>{{ upload.updated }}</td>
                    <td>{{ upload.message|truncatechars:50 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if upload_enabled or priority_changeable %}
                <script>
                    $(document).ready(function(){
                        $("#form_select_all").change(function(){
                            var checked = this.checked;
                            $('[name="resources"]').each(function(i, c){c.checked=checked;})
                        });
                    })
                </script>
            </form>
        {% endif %}
    {% endif %}
    <div class="text-center">
        {% paginate %}
    </div>
</div>

{% endblock %}
