{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load pagination_tags %}
{% load addcss %}
{% load breadcrumbs %}
{% load authorization %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Dashboard' 'dashboard' %}
    {% breadcrumb_url 'Giles Log' 'giles-log' %}
</div>
{% endblock %}

{% block extrastyle %}
<style>
    .dropdown-menu>li>button:focus, .dropdown-menu>li>button:hover {
        color: #262626;
        background-color: #f5f5f5;
    }
    .dropdown-menu>li>button {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        text-align: left;
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
{% autopaginate filtered_objects.qs 40 as uploads %}


<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-filter"></span>
                    <a data-toggle="collapse"
                        class="accordion-toggle collapsed"
                        href="#filters">Filters
                    </a>
                    <small style="margin-left: 20px;">
                        {% for key, values in filtered_objects.data.iteritems %}
                        {% if values|length > 0 %}
                        <strong>{{ key }}</strong>: {{ values }}
                        {% endif %}
                        {% endfor %}
                    </small>
                </h4>
            </div>
            <div id="filters" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="form" action="." method="GET">
                    {% for field in filtered_objects.form %}
                        {% for error in field.errors %}
                        <div class="alert alert-warning">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field|addcss:"form-control" }}
                        </div>
                    {% endfor %}
                    <input type="submit" class="pull-right btn btn-success" value="Apply">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        {% paginate %}
    </div>

    {% for key, value in updated.iteritems %}
        {% if value.success or value.skipped %}
            <div class="alert alert-{% if not value.skipped %}success{% else %}info{% endif %}">
                <strong>{{ key }}</strong> updated for {{ value.success }} uploads ({{ value.skipped }} skipped).
            </div>
        {% endif %}
    {% endfor %}

    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}

    {% if uploads %}
        {% if priority_changeable or state_changeable %}
        <form method="POST">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-inline">
                        <label class="help-block" style="display:inline; margin-right:20px"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</label>

                        {% if state_changeable %}
                            {% with form.desired_state as field %}
                                <div class="form-group" style="margin-right:10px">
                                    <label for="{{ field.id }}">{{ field.label }}</label>
                                    {{ field|addcss:"form-control input-sm" }}
                                </div>
                            {% endwith %}
                        {% endif %}

                        {% if priority_changeable %}
                            {% with form.desired_priority as field %}
                                <div class="form-group" style="margin-right:10px">
                                    <label for="{{ field.id }}">{{ field.label }}</label>
                                    {{ field|addcss:"form-control input-sm" }}
                                </div>
                            {% endwith %}
                        {% endif %}

                        <span class="pull-right">
                            <button type="submit" class="btn btn-primary btn-sm" name="apply_type" value="selected">Apply Selected</button>
                            <button type="submit" class="btn btn-warning btn-sm" name="apply_type" value="all">Apply All</button>
                        </span>
                    </div>
                </div>
            </div>
        {% endif %}

        <table class="table table-compact table-responsive">
            <thead>
                {% if priority_changeable or state_changeable %}<th><input id="form_select_all" type="checkbox"></th>{% endif %}
                <th>Progress ID</th>
                <th>Resource</th>
                <th>State</th>
                <th>Priority</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Message</th>
            </thead>
            <tbody>
                {% for upload in uploads %}
                <tr>
                    {% if priority_changeable or state_changeable %}<td><input type="checkbox" name="resources" value="{{ upload.id }}"/></td>{% endif %}
                    <td><a class="btn btn-xs btn-xxs glyphicon glyphicon-eye-open" style="margin-right: 5px;" href="{% url "giles-log-item" upload.id %}"></a>{{ upload.upload_id }}</td>
                    <td>
                        <a href="{{ upload.resource.container.primary.get_absolute_url }}">{{ upload.resource.container.primary.name }}</a>
                    </td>
                    <td><span class="label {% if upload.state in upload.ERROR_STATES %}label-danger{% elif upload.state == upload.DONE %}label-success{% elif upload.state == upload.SENT %}label-warning{% else %}label-primary{% endif %}">{{ upload.get_state_display }}</span></td>
                    <td>{{ upload.get_priority_display }}</td>
                    <td>{{ upload.created }}</td>
                    <td>{{ upload.updated }}</td>
                    <td>{{ upload.message|truncatechars:50 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if priority_changeable or state_changeable %}
                <script>
                    $(document).ready(function(){
                        $("#form_select_all").change(function(){
                            var checked = this.checked;
                            $('[name="resources"]').each(function(i, c){c.checked=checked;})
                        });
                    })
                </script>
            </form>
        {% endif %}
    {% endif %}
    <div class="text-center">
        {% paginate %}
    </div>
</div>

{% endblock %}
