{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load pagination_tags %}
{% load addcss %}
{% load breadcrumbs %}
{% load authorization %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Dashboard' 'dashboard' %}
    {% breadcrumb_url 'Giles Log' 'giles-log' %}
    {% breadcrumb_url upload.upload_id 'giles-log-item' upload.upload_id %}
</div>
{% endblock %}

{% block extrahead %}
<script>
$(document).ready(function(){
    $("#recheck-modal-confirm").on('click', function(e){
        $("#recheck-form").submit();
    })
});
</script>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="h1">{{ upload.upload_id }}</div>
    <dl class="dl-horizontal">
        <dt>Resource</dt>
        <dd>
            <a href="{{ upload.resource.container.primary.get_absolute_url }}">{{ upload.resource.container.primary.name }}</a>
        </dd>
        <dt>State</dt>
        <dd><span class="label {% if upload.state in upload.ERROR_STATES %}label-danger{% elif upload.state == upload.DONE %}label-success{% elif upload.state == upload.SENT %}label-warning{% else %}label-primary{% endif %}">{{ upload.get_state_display }}</span></dd>
        <dt>Created</dt>
        <dd>{{ upload.created }}</dd>
        <dt>Updated</dt>
        <dd>{{ upload.updated }}</dd>
        <dt>File Path</dt>
        <dd>{{ upload.file_path }}</dd>
        <dt>On Complete</dt>
        <dd>{{ upload.on_complete }}</dd>
    </dl>
    <p>{{ upload.message }}</p>
    {% is_authorized "resource_change" user upload.resource as can_edit_resource %}
    {% if can_edit_resource %}
        <form id="recheck-form" method="POST">
            {% csrf_token %}
            {% if checked %}
                <div class="alert alert-success" role="alert">Checked {{ checked }}</div>
            {% endif %}
            {% if error %}
                <div class="alert alert-danger" role="alert"><strong>ERROR: </strong>{{ error }}</div>
            {% endif %}
            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#recheck-modal" title="Process Giles upload and update resource"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Recheck</button>
        </form>
    {% endif %}
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="recheck-modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Recheck Giles upload</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to recheck this Giles upload? Rechecking <strong>may overwrite properties</strong> of current upload's resources.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="recheck-modal-confirm">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
