{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load breadcrumbs %}
{% load addcss %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Collections' 'collections' %}
    {% breadcrumb_url 'Export' 'export-coauthor-data' %}
</div>
{% endblock %}

{% block content %}
<form class="form" action="." method="GET">
   {% csrf_token %}
   <div class="text-center">Data:</div>
   {% for data in metadata %}
   <div>{{ data }}</div>
   {% endfor %}
   {% for data in edges %}
   <div>{{ data }}</div>
   {% endfor %}
</form>
{% endblock %}
