{% extends "base.html" %}

{% load admin_static %}
{% load firstof from future %}
{% load i18n %}
{% load static %}

{% block branding %}
{% endblock %}

{% block content %}
<div class="container middle">
    <div class="row" style="margin-top: auto; margin-bottom:auto;">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row">
                <div class="index-head ">
                    <img src="{% static "cookies/img/jar.png" %}"
                        style="height: 150px; margin-left: auto; margin-right: auto;"
                        class="img img-responsive bigjar" />
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="search">
                    <form method="get" action="{% url "resources" %}">
                        <div class="input-group">
                            <input id="id_q"
                                name="name"
                                type="search"
                                value=""
                                class="search-input form-control"
                                autofocus="autofocus"/>
                            <span class="input-group-btn">
                                <input class="btn btn-success" type="submit"
                                        value="Search">
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="index-login">
                    {% if user.is_active %}
                        {% trans 'Welcome,' %}
                        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                            {% url 'django-admindocs-docroot' as docsroot %}
                            <a class="btn btn-sm" href="{% url 'logout' %}?next={{ request.path }}"><i class="fa fa-github" aria-hidden="true"></i> {% trans 'Log out' %}</a>

                    {% else %}
                        <a class="btn btn-sm" href="{% url 'social:begin' 'github' %}"><i class="fa fa-github" aria-hidden="true"></i> {% trans 'Log in' %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
