{% extends "base.html" %}
{% load i18n %}
{% load addcss %}

{% block extrahead %}
<meta http-equiv="refresh" content="3"/>
{% endblock %}

{% load breadcrumbs %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Resources' 'resources' %}
    {% breadcrumb_url 'Create' 'create-resource' %}
    {% breadcrumb_url 'Zotero' 'create-resource-bulk' %}
</div>
{% endblock %}

{% block content %}

<div class="h3">Status: <span class="text-warning">{{ async_result.status }}</span></div>
<div class="text-muted">{{ async_result.id }}</div>
{% if async_result.status == 'FAILURE' %}
<p class="text-danger">
    Whoops! Something went wrong. Please notify <a href="mailto:erick.peirson@asu.edu">the administrator</a>
    (and be sure to mention the job ID, above).
</p>
{% else %}
<p class="text-info">
    Your upload is currently being processed. Depending on the size of your upload, this
    may take a little while. Please check back.
</p>
<div class="progress">
    <div class="progress-bar"
        role="progressbar"
        aria-valuenow="{{ job.percent }}"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width:{{ job.percent }}%"
        >
        <span class="sr-only">{{ job.percent }}% Complete</span>
    </div>
</div>
{% endif %}
{% endblock %}
