{% extends "base_site.html" %}
{% load i18n %}
{% load staticfiles %}
{% load breadcrumbs %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Resources' 'resources' %}
    {% breadcrumb_url resource.name 'resource' resource.id  %}
</div>
{% endblock %}

{% block content %}
<div class="resource_summary">
    <h2 class="resource_name">{{ resource.name }}</h1>
        <dl class="dl-horizontal">
            <dt>Created</dt>
            <dd>{{ resource.created }}</dd>
            <dt>Created by</dt>
            <dd>{{ resource.created_by }}</dd>
            <dt class="resource_uri">URI</dt>
            <dd>{{ resource.uri }}</dd>
            <dt class="resource_entity_type">Type</dt>
            <dd>{{ resource.entity_type }}</dd>

            {% if resource.content %}
            <dt class="resource_content">Content</dt>
            {% for content_relation in resource.content.all %}
            <dd>
                <a href="{{ content_relation.content_resource.content_location }}">
                    {{ content_relation.content_resource.content_location|truncatechars:50 }}
                </a>&nbsp;
                <label class="label label-primary">
                    {{ content_relation.content_type }}
                </label>
            </dd>
            {% endfor %}
            {% endif %}
        </dl>
    </div>
</div>

<h3>Collections</h2>
<div class="resource_collections">
    <ul class="list-group">
        {% for collection in resource.part_of.all %}
        <a href="{% url "collection" collection.id %}"
            class="list-group-item">
            {{ collection.name }}
        </a>
        {% endfor %}
    </ul>
</div>

<h3>Metadata</h2>
<div class="resource_relations">
    <dl class="dl-horizontal">
        {% for relation in resource.relations_from.all %}
        <dt class="predicate"
            id="predicate_{{ relation.predicate.id }}"
            uri="{{ relation.predicate.uri }}">
            {{ relation.predicate.name }}
        </dt>
        <dd class="target"
            id="target_{{ relation.target.id }}"
            uri="{{ relation.target.uri }}">
            {{ relation.target.name }}
        </dd>
        {% endfor %}
    </dl>
</div>


{% endblock %}
