{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load breadcrumbs %}
{% load preview %}
{% load authorization %}
{% load resource_creator %}

{% block extrastyle %}
<style>
    .dropdown-menu>li>button:focus, .dropdown-menu>li>button:hover {
        color: #262626;
        background-color: #f5f5f5;
    }
    .dropdown-menu>li>button {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        text-align: left;
        width: 100%;
    }

    .giles_status {
        margin-top: 10px;
    }
    .giles_status dd {
        margin-bottom: 4px;
    }
</style>
{% endblock %}

{% block extrahead %}
<script>
function changePriority(element){
    $("#priority-form").find("[name='priority']")[0].value = element.value;
    var modal = $("#priority-modal");
    if(element.dataset.confirm){
        modal.find(".modal-body").html('Are you sure you want to set <strong>'+ element.innerText + '</strong> upload priority for the current resource?');
        modal.modal();
    }
    else {
        $("#priority-form").submit();
    }
}
$(document).ready(function(){
    $("#priority-modal-confirm").on('click', function(e){
        $("#priority-form").submit();
    })
});
</script>
{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Resources' 'resources' %}
    {% breadcrumb_url resource.name 'resource' resource.id  %}
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-{% if preview_content %}7{% else %}12{% endif %}">
        <div class="resource_summary">
            <div class="h3 resource_name">
                {{ resource.name }}

                <span class="pull-right btn-group">
                    {% if resource.has_giles_content %}
                    <span class="btn">
                        <img style="height: 15px;" src="{% static "cookies/img/giles_logo.png" %}" />
                    </span>
                    {% endif %}
                    <a class="btn glyphicon glyphicon-link" title="View resource URI" data-toggle="modal" data-target="#uri-modal">
                    </a>
                    {% is_authorized "resource_change" user resource as can_edit_resource %}
                    {% if can_edit_resource %}
                    <a class="btn glyphicon glyphicon-pencil" aria-hidden="true"
                        href="{% url "edit-resource-details" resource.id %}{% if request %}?next={{ request.path }}{% endif %}"
                        title="Edit record"></a>
                    <a class="btn glyphicon glyphicon-compressed" aria-hidden="true"
                        href="{% url "resource-prune" resource.id %}"
                        title="Prune duplicate metadata"></a>
                    <a class="btn glyphicon glyphicon-export" aria-hidden="true"
                        title="Export metadata"
                        href="{% url "export-resource-metadata" resource.id %}"></a>
                    {% endif %}
                    {% is_authorized "resource_view_auth" user resource as can_view_authorizations %}
                </span>

            </div>
            {% if resource.description %}
            <p class="text-muted">{{ resource.description }}</p>
            {% endif %}

            <dl class="dl-horizontal">
                {% if part_of %}
                <dt>Collection</dt>
                <dd><a href="{% url "collection" part_of.id %}">{{ part_of.name }}</a></dd>
                {% endif %}
                <dt>Created</dt>
                <dd>{{ resource.created }}</dd>
                <dt>Created by</dt>
                <dd>{{ resource.created_by }}</dd>
                <dt class="resource_entity_type">Type</dt>
                <dd>{{ resource.entity_type }}</dd>

                {% if resource.content %}
                <dt class="resource_content">Content</dt>
                {% for content_relation in content_relations %}
                <dd>
                    <a href="{% url "resource-content" content_relation.content_resource.id %}">
                        {% if content_relation.content_resource.is_external %}<i class="fa fa-key" aria-hidden="true"></i>{% endif %}
                        {% if content_relation.content_resource.is_remote %}<i class="fa fa-external-link" aria-hidden="true"></i>{% endif %}
                        {% if content_relation.content_resource.is_local %}<i class="fa fa-database" aria-hidden="true"></i>{% endif %}
                        {% url "resource-content" content_relation.content_resource.id %}
                    </a>&nbsp;
                    {% if content_relation.content_type %}
                    <span class="text-warning">
                        {{ content_relation.content_type }}
                    </span>
                    {% endif %}
                    <span class="text-success">
                        {% get_resource_creator content_relation.content_resource as creator %}
                        {% if creator %}
                            &mdash; <em>{{ creator }}</em>
                        {% endif %}
                    </span>
                </dd>
                {% endfor %}
                {% endif %}

                {% with resource.giles_uploads.all.0 as upload %}
                    {% if upload.state != upload.DONE %}
                    <div class="giles_status">
                        <dt>Giles Upload Status</dt>
                        <dd>
                            <a {% if pending_counts %}title='There are {{ pending_counts.high}} high priority, {{ pending_counts.medium }} medium priority, and {{ pending_counts.low }} low priority uploads pending.'{% endif %}
                                class="label {% if upload.state in upload.ERROR_STATES %}label-danger{% elif upload.state == upload.DONE %}label-success{% elif upload.state == upload.SENT %}label-warning{% else %}label-primary{% endif %}"
                                href="{% url "giles-log-item" upload.id %}">{{ upload.get_state_display }}</a>
                        </dd>
                        {% if upload.state == upload.PENDING %}
                        <dt>Giles Upload Priority</dt>
                        <dd>
                            {% if can_edit_resource %}
                                <form method="POST" id="priority-form">
                                    {% csrf_token %}
                                    <span class="text-warning">{{ upload.get_priority_display }}</span>&nbsp;
                                    <div class="btn-group">
                                        <button title="Change priority of selected documents" type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Change Priority <span class="caret"></span>
                                        </button>
                                        <input type="hidden" name="priority" value="low"/>
                                        <ul class="dropdown-menu">
                                            {% for value, label in form.fields.priority.choices %}
                                                <li><button type="button" value='{{ value }}' {% if value in form.CHOICES_CONFIRM_CHANGE %}data-confirm="true"{% endif %} onclick="changePriority(this);" class="btn btn-xs">{{ label }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% if priority_change_success %}
                                        <span class="text-success">&nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Priority updated!</span>
                                    {% elif priority_change_error %}
                                    <span class="text-error">&nbsp;<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{ priority_change_error }} </span>
                                    {% endif %}
                                </form>
                            {% else %}
                                <span class="text-warning">{{ upload.get_priority_display }}</span>
                            {% endif %}
                        </dd>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endwith %}
            </dl>

        </div>

        <h3>Metadata</h2>
        <div class="resource_relations">
            <dl class="dl-horizontal">
                {% for relation in relations_from %}
                <dt class="predicate"
                    id="predicate_{{ relation.predicate.id }}"
                    uri="{{ relation.predicate.uri }}">
                    {{ relation.predicate.name }}
                </dt>
                <dd class="target"
                    id="target_{{ relation.target.id }}"
                    uri="{{ relation.target.uri }}">
                    {% with relation.target.get_absolute_url as resource_url %}
                    {% if resource_url %}<a href="{{resource_url}}">{% endif %}{{ relation.target.name }}{% if resource_url %}</a>{% endif %}
                    <span class="label label-default" data-toggle="tooltip" data-title="{{ relation.target.entity_type.schema }}">{{ relation.target.entity_type.name }}</span>
                    {% endwith %}
                </dd>
                {% endfor %}
            </dl>
        </div>
    </div>
    {% if preview_content %}
    <div class="col-md-5">
        {{ resource|preview:request }}
    </div>
    {% endif %}
</div>

<div class="container">
    <dl>
        <dt>Content Regions</dt>
        {% for relation in content_region_relations %}
        <dd>
            {{ relation.source.name }} <i>({{ relation.source.start_resource.name }}:{{ relation.source.start_position }} &mdash; {{ relation.source.end_resource.name }}:{{ relation.source.end_position }})</i>
        </dd>
        {% endfor %}
        {% if can_edit_resource %}
        <a class="btn btn-xs"
            href="{% url "define-resource-content-region" resource.id %}{% if request %}?next={{ request.path }}{% endif %}">
            <span class="glyphicon glyphicon-plus"></span> Define Content Region
        </a>
        {% endif %}
    </dl>
    <dl>
        <dt>Parts</dt>
        {% for relation in part_relations %}
        <dd>
            <a href="{{ relation.source.get_absolute_url }}">{{ relation.source.name }}</a>
        </dd>
        {% endfor %}
    </dl>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="uri-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Permalink</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="uri-uri" style="font-family: monospace;" value="{{ resource.uri }}" disabled="disabled" />
                <span class="input-group-btn">
                    <a class="btn" id="copy-to-clipboard">
                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="text-right" id="message"></div>
      </div>
          <script>
          $('#copy-to-clipboard').click(function () {
                $('#uri-uri').select();
                document.execCommand("copy");
                $('#message').text('Copied to clipboard!');
            });
            </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="priority-modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Change Giles Upload Priority</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to change the priority?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="priority-modal-confirm">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
