{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load breadcrumbs %}
{% load pagination_tags %}
{% load addcss %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Resources' 'resources' %}
    {% breadcrumb_url resource.name 'resource' resource.id  %}
    <a>Authorizations</a>
</div>
{% endblock %}

{% block content %}
<span class="h3 text-warning">{{ resource }}</span>
<div class="h2">Authorizations</div>

<div class="">
    <ul class="list-group">
        {% for auth in authorizations %}
        <a class="list-group-item">
            <strong>{{ auth.user }}</strong> can {% for a in auth.auth %}<span class="text-muted">{{ a }}</span>, {% endfor %}
        </a>
        {% endfor %}
    </ul>
</div>



{% endblock %}
