{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load breadcrumbs %}
{% load preview %}
{% load authorization %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Resources' 'resources' %}
    {% breadcrumb_url resource.name 'resource' resource.id  %}
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <div class="resource_summary">
            <div class="h2 resource_name">
                {{ resource.name }}

                <span class="pull-right btn-group">
                    {% if resource.has_giles_content %}
                    <span class="btn">
                        <img style="height: 15px;" src="{% static "cookies/img/giles_logo.png" %}" />
                    </span>
                    {% endif %}
                    {% is_authorized "change_resource" user resource as can_edit_resource %}
                    {% if can_edit_resource %}
                    <a class="btn glyphicon glyphicon-pencil" aria-hidden="true"
                        href="{% url "edit-resource-details" resource.id %}{% if request %}?next={{ request.path }}{% endif %}"
                        data-toggle="tooltip"
                        data-title="Edit record"></a>
                    <a class="btn glyphicon glyphicon-compressed" aria-hidden="true"
                        href="{% url "resource-prune" resource.id %}"
                        data-toggle="tooltip"
                        data-title="Prune duplicate metadata"></a>
                    {% endif %}
                    {% is_authorized "view_authorizations" user resource as can_view_authorizations %}
                </span>

            </div>

            <dl class="dl-horizontal">
                <dt>Created</dt>
                <dd>{{ resource.created }}</dd>
                <dt>Created by</dt>
                <dd>{{ resource.created_by }}</dd>
                <dt class="resource_uri">URI</dt>
                <dd>{{ resource.uri }}</dd>
                <dt class="resource_entity_type">Type</dt>
                <dd>{{ resource.entity_type }}</dd>

                {% if resource.content %}
                <dt class="resource_content">Content</dt>
                {% for content_relation in resource.content.all %}
                <dd>
                    {% if content_relation.content_resource.is_local and not resource.has_giles_content %}<a class="btn btn-xs glyphicon glyphicon-plus" href="{% url "trigger-giles-submission" resource.id content_relation.id %}"></a>{% endif %}
                    <a href="{% url "resource-content" content_relation.content_resource.id %}">
                        {% url "resource-content" content_relation.content_resource.id %}
                    </a>&nbsp;
                    {% if content_relation.content_type %}
                    <span class="text-warning">
                        {{ content_relation.content_type }}
                    </span>
                    {% endif %}
                </dd>
                {% endfor %}
                {% endif %}
            </dl>
        </div>
        <h3>Collections</h2>
        <div class="resource_collections">
            <ul class="list-group">
                {% for collection in part_of %}
                <a href="{% url "collection" collection.id %}"
                    class="list-group-item">
                    {{ collection.name }}
                </a>
                {% endfor %}
            </ul>
        </div>

        <h3>Metadata</h2>
        <div class="resource_relations">
            <dl class="dl-horizontal">
                {% for relation in resource.relations_from.all %}
                <dt class="predicate"
                    id="predicate_{{ relation.predicate.id }}"
                    uri="{{ relation.predicate.uri }}">
                    {{ relation.predicate.name }}
                </dt>
                <dd class="target"
                    id="target_{{ relation.target.id }}"
                    uri="{{ relation.target.uri }}">
                    {% with relation.target.get_absolute_url as resource_url %}
                    {% if resource_url %}<a href="{{resource_url}}">{% endif %}{{ relation.target.name }}{% if resource_url %}</a>{% endif %}
                    <span class="label label-default" data-toggle="tooltip" data-title="{{ relation.target.entity_type.schema }}">{{ relation.target.entity_type.name }}</span>
                    {% endwith %}
                </dd>
                {% endfor %}
            </dl>
        </div>
    </div>
    <div class="col-md-5">
        {{ resource|preview:request }}
    </div>
</div>




{% endblock %}
