{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load breadcrumbs %}
{% load pagination_tags %}
{% load addcss %}



{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Resources' 'resources' %}
</div>
{% endblock %}

{% block content %}
{% autopaginate filtered_objects.qs 40 as resources %}

<form class="form" action="." method="GET">
{% with filtered_objects.form.name as field %}
{% for error in field.errors %}
<div class="alert alert-warning">{{ error }}</div>
{% endfor %}
<div class="container-fluid">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" id="id_name" name="name" type="text" {% if q %}value="{{ q }}" {% endif %}placeholder="Search by title">
            <span class="input-group-btn">
                <input type="submit" class="btn btn-success" value="Search">
            </span>
        </div>
        <script>
        $('body').ready(function() {
            $('#id_name').focus();
        });
        </script>
    </div>
{% endwith %}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <span class="glyphicon glyphicon-filter"></span>
                <a data-toggle="collapse" class="accordion-toggle collapsed" href="#filters">Filters</a>
                <small style="margin-left: 20px;">
                    {% for key, values in filtered_objects.data.iteritems %}
                    {% if values|length > 0 %}
                    <strong>{{ key }}</strong>: {{ values }}
                    {% endif %}
                    {% endfor %}
                </small>
            </h4>
        </div>

        <div id="filters" class="panel-collapse collapse">
            <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-6">

                            {% with filtered_objects.form.content as field %}
                            {% for error in field.errors %}
                            <div class="alert alert-warning">{{ error }}</div>
                            {% endfor %}
                            <div class="form-group">
                                <label>Content</label>
                                {{ field|addcss:"form-control" }}
                            </div>
                            {% endwith %}

                            {% with filtered_objects.form.entity_type as field %}
                            {% for error in field.errors %}
                            <div class="alert alert-warning">{{ error }}</div>
                            {% endfor %}
                            <div class="form-group">
                                <label>Resource type</label>
                                {{ field|addcss:"form-control" }}
                            </div>
                            {% endwith %}

                            {% with filtered_objects.form.content_type as field %}
                            {% for error in field.errors %}
                            <div class="alert alert-warning">{{ error }}</div>
                            {% endfor %}
                            <div class="form-group">
                                <label>Content type</label>
                                {{ field|addcss:"form-control" }}
                            </div>
                            {% endwith %}
                        </div>
                        <div class="col-xs-6">
                            {% with filtered_objects.form.created_by as field %}
                            {% for error in field.errors %}
                            <div class="alert alert-warning">{{ error }}</div>
                            {% endfor %}
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                {{ field|addcss:"form-control" }}
                            </div>
                            {% endwith %}

                            {% with filtered_objects.form.o as field %}
                            {% for error in field.errors %}
                            <div class="alert alert-warning">{{ error }}</div>
                            {% endfor %}
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                {{ field|addcss:"form-control" }}
                            </div>
                            {% endwith %}
                        </div>
                    </div>
                <input type="submit" class="pull-right btn btn-success btn-xs" value="Apply">

            </div>
        </div>

    </div>
</div>
</div>
</form>

<div class="row">
    <div class="col-md-2 col-sm-3">
        <!-- {% with "/resource/" as base_tag_url %} -->
        {% include "fragment_tag_panel.html" %}
        <!-- {% endwith %} -->
    </div>
    <div class="col-md-10 col-sm-9">
        {% include "fragment_resource_list.html" %}
    </div>
</div>

<script>
    jQuery(document).ready(function($) {
        $(".opendeleteResourceModal").click(function(e) {
         var url = $(this).attr("data-url");
         $('#deleteResourceModalForm').attr('action', url);
         $('#deleteResourceModal').modal('show');
     });
    });
</script>

<div id="deleteResourceModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete entry</h4>
      </div>
      <div class="modal-body">
        <p>Do you want to delete this invalid entry ? </p>
      </div>
      <div class="modal-footer">
          <form id="deleteResourceModalForm" action="." method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Delete">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
