{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base_.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

{% load static %}

<body width="100%">
<!-- Container -->
<div id="container">
    <div class="index-head">
        <img src="{% static "cookies/img/jar.png" %}" height="150" class="bigjar" />
    </div>
    <div class="search">
        <form method="get" action="/search/">
            <input id="id_q" name="q" type="search" value="" class="search-input" />
                        <input type="submit" value="Search">
        </form>
    </div>
    <div class="index-login">
        {% if user.is_active %}
            {% trans 'Welcome,' %}
            <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                {% url 'django-admindocs-docroot' as docsroot %}
                <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>.
                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>.
        </div>
        {% else %}        
            <a href="{% url "admin:login" %}">{% trans 'Log in' %}</a>.
        {% endif %}
    </div>
</div>
</body>
