{% extends "base_site.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extrahead %}


<script>

// fieldtypes maps field IDs to their data type, so that we can select the right widget
// for field values.
var fieldtypes = {};
{% for type in fieldtypes %}
fieldtypes["{{ type.0 }}"] = "{{ type.1 }}";
{% endfor %}

// max_values specifies the maximum number of values that can be added for a given field.
// For example, there should be only one value for 'created', but there can be multiple
// values for 'creator'.
//
// added_fields keeps track of how many form elements have been added for each field.
var max_values = {};
var added_fields = {};      
{% for type in max_values %}
max_values["{{ type.0 }}"] = {{type.1}};
added_fields["{{ type.0 }}"] = 0;
{% endfor %}

// fieldnames stores the verbose names for each field, for the user's benefit.
var fieldnames = {};
{% for type in fieldnames %}
fieldnames["{{ type.0 }}"] = "{{type.1}}";
{% endfor %}

var data = {}
{% for datum in data %}
data["{{ datum.0 }}"] = "{{ datum.1 }}";
{% endfor %}

// field_form gets the right widget for the field value.
var field_form = function(field) {
    type = fieldtypes[field];
    var field_label = $('<label>', {for: field});
    field_label.text(fieldnames[field]);
    
    var delete_link = $('<a>', {class:"deletelink", href:"#"});
    delete_link.click(remove_field);
    
    field_number = added_fields[field];
    if (field_number < max_values[field] || max_values[field] == 0) {
        if (type == 'RS') {
            var field_input = generate_resource_field(field, field_number);
        } else if (type == 'CO') {
            var field_input = generate_corpus_field(field, field_number);    
        } else if (type == 'CP') {
            var field_input = generate_concept_field(field, field_number);                     
        } else {    
            // Everything else gets a text field, for now.
            var field_input = generate_text_field(field, field_number);
        }
        
        // Assemble the subform, and append it to the list of subforms.
        var subform = $('<li>', { id:field+'_'+field_number});
        subform.append(field_label);    
        subform.append(field_input);
        subform.append(delete_link);
        return subform;
    } else {
        return false;
    }
}

var add_field = function(e) {
    field = $('.add_field #id_field').find(':selected').attr('value');
    var subform = field_form(field);
    if (subform) {
        $('.field_values .values').append(subform);
        increment_field(field);
    }
}

var remove_field = function(e) {
    parent = e.currentTarget.parentNode;
    ffn = parent.id.split('_');
    added_fields[ffn[0]] -= 1;
    if (added_fields[ffn[0]] < max_values[ffn[0]]) {
        $('.add_field select option[value='+ffn[0]+']').prop('disabled', false);
    }        
    parent.remove();
}

// Accounts for the number of subforms added for each field, and disables the field
// select option where appropriate.
var increment_field = function(field) {
    added_fields[field] += 1;
    if (added_fields[field] >= max_values[field] && max_values[field] != 0) {
        $('.add_field select option[value='+field+']').prop('disabled', true);
    }
}

// Generates a select-based date widget.
var generate_date_field = function(field, field_number) {
    // Grabs a hidden template element...
    var field_input = $('#selectdatewidget').clone();
    
    // ...and customizes it for this field/number.
    field_input.find('#id_datetime_month').attr('name', 'form_'+field+'_month_'+field_number);
    field_input.find('#id_datetime_day').attr('name', 'form_'+field+'_day_'+field_number);       
    field_input.find('#id_datetime_year').attr('name', 'form_'+field+'_year_'+field_number);
    field_input.removeClass('hidden');
    field_input.attr('id', 'form_'+field+'_datetime_'+field_number); // Avoid selecting it again.

    return field_input;
}

// Generates a simple text field.
var generate_text_field = function(field, field_number) {
    return $('<input>', {type: "text", name:'form_'+field+'_'+field_number});
}

var generate_entity_field = function(id, field, field_number) {
    var field_input = $(id).clone();
    
    field_input.removeClass('hidden');
    field_input.attr('id', 'form_'+field+'_'+field_number);
    field_input.find('input').attr('name', 'form_'+field+'_'+field_number);
    
    return field_input;
}

var generate_resource_field = function(field, field_number) {
    return generate_entity_field('#textresourcewidget', field, field_number);
}

var generate_corpus_field = function(field, field_number) {
    return generate_entity_field('#textcorpuswidget', field, field_number);
}

var generate_concept_field = function(field, field_number) {
    return generate_entity_field('#textconceptwidget', field, field_number);
}

</script>

{% endblock %}

{% block content %}

<!-- This span element provides a template for date fields -->

<span class='hidden' id='textresourcewidget'>
{{resource}}
</span>

<span class='hidden' id='textcorpuswidget'>
{{corpus}}
</span>

<span class='hidden' id='textconceptwidget'>
{{concept}}
</span>

<form method="POST" action="" class="add_field">
    {{ addFieldForm }}<a class="addlink" href="#"></a>
</form>

<form method="POST" action="" class="field_values">{% csrf_token %}
    {{ formset.management_form }}
    <ul class="values">
    </ul>
    <input type="submit" value="Submit" />
</form>

<script>

$('.add_field .addlink').click(add_field);

// Add initial data to the page.
for (var key in Object.keys(data)) {
    var field = Object.keys(data)[key];
    var value = data[field];
    var subform = field_form(field);
    if (subform) {
        subform.find('input').attr('value', value);
        $('.field_values .values').append(subform);
        increment_field(field);
    }    
}

</script>


{% endblock %}