{% extends "base_site.html" %}
{% load i18n %}
{% load staticfiles %}
{% load breadcrumbs %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% breadcrumb_url 'Resources' 'resources' %}
    {% breadcrumb_url resource.name 'resource' resource.id  %}
</div>
{% endblock %}

{% block content %}
<div class="resource_summary">
    <h2 class="resource_name">{{ resource.name }}</h1>
    <div class="resource_uri"><strong>URI:</strong> {{ resource.uri }}</div>
    <div class="resource_entity_type"><strong>Type:</strong> {{ resource.entity_type }}</div>

    <div class="resource_content"><strong>Content:</strong> <a href="{% if resource.stored == 'Local' %}{{ resource.localresource.file.url }} {% endif %}{% if resource.stored == 'Remote' %}{{ resource.remoteresource.url }} {% endif %}">{{ resource.stored }}</a>
    </div>
</div>

<h3>Collections</h2>
<div class="resource_collections">
    <table>
    {% for collection in resource.part_of.all %}
    <tr class="collection" id="collection_{{ collection.id }}">
        <td class="collection-name"><a href="{% url "collection" collection.id %}">{{ collection.name }}</a></td>
    </tr>
    {% endfor %}
    </table>
</div>

<h3>Metadata</h2>
<div class="resource_relations">
    <table>
        {% for relation in resource.relations_from.all %}
        <tr class="relation" id="relation_{{ relation.id }}" uri="{{ relation.uri }}">
            <td class="predicate" id="predicate_{{ relation.predicate.id }}" uri="{{ relation.predicate.uri }}">{{ relation.predicate.name }}</td>
            <td class="target" id="target_{{ relation.target.id }}" uri="{{ relation.target.uri }}">{{ relation.target.name }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}
