/*
    DJANGO Admin styles??
*/

body {

    /* font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif; */
}


.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


.container.middle {
    margin-top: 10%;
}

.glyphicon-ok {
    color: green;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}





.list-group-item-compact {
    padding: 5px;
    font-size: 0.9em;
}

.resource-item {
    cursor: pointer;
}
.resource-item-selected {
    background-color: rgba(255, 190, 0, 0.5);
}


.btn-xxs  {
    padding: 0px;
    margin: 0px;
    border: 0px;
    top: 0;
}


.text-small {
    font-size: 8pt;
}


.panel-heading .collapse-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e259";
    float: right;
    color: grey;
}
.panel-heading .collapse-toggle.collapsed:after { content: "\e258"; }
